
.title1{
  margin-left: 20px;
  

}

.image1{
  
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
  position: relative;
  height: 500px;
  margin-left: 20px;
 


}
.con{
  margin-left: 20px;
  
}

